@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');


@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', sans-serif;
  --font-cursive: 'Pacifico', 'Sriracha', cursive;
  --font-cursive2: 'Sriracha', cursive;
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}